<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Sale order grid -->
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="trackingNumberFilter" type="Minisport\XtentoGridActionsExt\Plugin\SalesOrderGridPlugin" sortOrder="-1"/>
    </type>
</config>
